@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/Noto-Color-Emoji/NotoColorEmoji.ttf')
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

body {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
}

.full {
  width: 100%;
  margin: 20px;
  display: block;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 20px;
}

.italics {
  font-style: italic;
}

.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}
.emoji-mono {
  font-family: 'Noto Emoji', sans-serif;
}